<ul class="list-group">

	<li class="list-group-item">
		<a class="fa-li" data-toggle="collapse" href="#Cras-justo-odio">
			<i class="fas fa-plus"></i>
		</a>
		<span>Item One</span>
	</li>
	<ul id="Cras-justo-odio" class="collapse">
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Morbi leo risus</li>
		<li class="list-group-item">
			<a class="fa-li" data-toggle="collapse" href="#Cras-justo-odio2">
				<i class="fas fa-plus"></i>
			</a>
			<span>Item One</span>
		</li>
		<ul id="Cras-justo-odio2" class="collapse">
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
		<li class="list-group-item">Vestibulum at eros</li>
	</ul>

	<li class="list-group-item">Dapibus ac facilisis in</li>
	<li class="list-group-item">Morbi leo risus</li>
	<li class="list-group-item">Porta ac consectetur ac</li>
	<li class="list-group-item">Vestibulum at eros</li>
</ul>